.coffee-text{
    padding-left: 275px;
}
.coffeesList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.coffee{
    width: 50%;
    display: flex;
}
.card{
    border: none;
}
.card-header{
    border: none;
}
.coffee p{
    display: flex;
    align-items: flex-end;
    margin: 0 .5em;
}
.coffee h2{
    margin: 0;
}